fastapi
uvicorn[standard]

sqlalchemy
asyncpg
psycopg2-binary
alembic

python-jose[cryptography]
passlib[bcrypt]
python-multipart

pydantic
pydantic-settings
python-dotenv

jinja2
email-validator

stripe
