fastapi
uvicorn[standard]

sqlalchemy
asyncpg
psycopg2-binary
alembic

python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.3.0
python-multipart
itsdangerous

pydantic
pydantic-settings
python-dotenv

jinja2
email-validator

stripe
